body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.google-docs .tox .tox-sidebar-wrap {
  background-color: #f8f9fa;
}

.google-docs .tox .tox-edit-area {
  max-width: 840px;
  margin: 10px auto;
  box-shadow: rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.google-docs .tox-tinymce {
  border: 0;
}
